<div style="position:relative; height: calc(100vh - 84px);" *ngIf="loaded">
  <div class="container form-wrapper mt-4">
    <div (submit)="submit()" [formGroup]="categoryForm" (ngSubmit)="submit()" class="mx-2">
      <h4 class="page-title mb-3">
        <button routerLink="/categories/all" class="back-btn">
          <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24">
            <g>
              <rect fill="none" height="24" width="24" y="0"/>
            </g>
            <g>
              <g>
                <g>
                  <path d="M15.29,15.46l-3.88-3.88l3.88-3.88c0.39-0.39,0.39-1.02,0-1.41l0,0c-0.39-0.39-1.02-0.39-1.41,0l-4.59,4.59 c-0.39,0.39-0.39,1.02,0,1.41l4.59,4.59c0.39,0.39,1.02,0.39,1.41,0l0,0C15.67,16.49,15.68,15.85,15.29,15.46z"/>
                </g>
              </g>
            </g>
          </svg>
        </button>
        Add category
      </h4>
      <div class="row">
        <div class="col-lg-8">

          <app-card>

            <div class="mb-3">
              <label for="inputTitle" class="form-label">Name</label>
              <input formControlName="name" placeholder="Name" type="text" class="form-control" id="inputTitle">
            </div>
            <div class="mb-3">
              <label for="inputDescription" class="form-label">Description</label>
              <textarea formControlName="description" placeholder="description" style="min-height: 150px" class="form-control" id="inputDescription"></textarea>
            </div>

          </app-card>



        </div>
        <div class="col-lg-4">
          <app-card class="d-block">
            <strong>Organization</strong>

            <div class="mt-3">
              <label for="selectDepartment" class="form-label">Department</label>
              <select formControlName="departmentId" class="form-select" id="selectDepartment" aria-label="Default select example">
                <option value="" selected >Select Department</option>
                <option *ngFor="let department of departments" [ngValue]="department.id" >{{department.name}}</option>
              </select>
            </div>

            <div class="card-divider mt-4 mb-3"></div>

            <div class="mb-2">
              <label for="inputTag" class="form-label">Tags</label>
              <input formControlName="tags" (keyup.,)="addTag()" (keyup.enter)="addTag()" placeholder="RTX, Acer, laptops" type="text" class="form-control" id="inputTag">
            </div>
            <div class="tags">
              <div *ngFor="let tag of tags; let i = index" class="tag">
                {{tag}}
                <span (click)="deleteTag(i)" class="delete-tag">
                  <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24">
    <g>
        <path d="M0,0h24v24H0V0z" fill="none"/>
    </g>
    <g>
        <g>
            <path d="M18.3,5.71L18.3,5.71c-0.39-0.39-1.02-0.39-1.41,0L12,10.59L7.11,5.7c-0.39-0.39-1.02-0.39-1.41,0l0,0 c-0.39,0.39-0.39,1.02,0,1.41L10.59,12L5.7,16.89c-0.39,0.39-0.39,1.02,0,1.41l0,0c0.39,0.39,1.02,0.39,1.41,0L12,13.41l4.89,4.89 c0.39,0.39,1.02,0.39,1.41,0l0,0c0.39-0.39,0.39-1.02,0-1.41L13.41,12l4.89-4.89C18.68,6.73,18.68,6.09,18.3,5.71z"/>
        </g>
    </g>
</svg>
                </span>
              </div>
            </div>
          </app-card>

        </div>
      </div>

    </div>
  </div>
  <div class="save-section">

    <div class="container">

      <div class="d-flex">
        <button (click)="discard()" type="submit" class="btn btn-primary cancel-btn ms-auto me-3">Discard</button>
        <button (click)="submit()" type="submit" class="btn btn-primary submit-btn me-auto">
          <span *ngIf="!isSubmitting">Save changes</span>
          <app-spinner *ngIf="isSubmitting"></app-spinner>
        </button>
      </div>

    </div>

  </div>
</div>

<div *ngIf="!loaded" style="min-height: 500px; width: 100%" class="d-flex align-items-center justify-content-center">
  <app-spinner [color]="'#2D89EF'" style="transform: scale(2.1)"></app-spinner>
</div>

<div *ngIf="isDiscarding" class="dialog-wrapper">

  <div class="dialog">
    <div class="dialog-header">
      <span class="dialog-title">Discard changes</span>
      <button (click)="cancelDiscarding()" class="dialog-close-btn">
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24">
          <g>
            <path d="M0,0h24v24H0V0z" fill="none"/>
          </g>
          <g>
            <g>
              <path d="M18.3,5.71L18.3,5.71c-0.39-0.39-1.02-0.39-1.41,0L12,10.59L7.11,5.7c-0.39-0.39-1.02-0.39-1.41,0l0,0 c-0.39,0.39-0.39,1.02,0,1.41L10.59,12L5.7,16.89c-0.39,0.39-0.39,1.02,0,1.41l0,0c0.39,0.39,1.02,0.39,1.41,0L12,13.41l4.89,4.89 c0.39,0.39,1.02,0.39,1.41,0l0,0c0.39-0.39,0.39-1.02,0-1.41L13.41,12l4.89-4.89C18.68,6.73,18.68,6.09,18.3,5.71z"/>
            </g>
          </g>
        </svg>
      </button>
    </div>
    <div class="dialog-body">
      <p>This can’t be undone.</p>
    </div>
    <div class="dialog-footer">
      <button (click)="cancelDiscarding()" class="dialog-cancel-btn me-2 ms-auto">Cancel</button>
      <button routerLink="/categories/all" class="dialog-confirm-btn">
        Discard
      </button>
    </div>
  </div>

</div>


