
.form-wrapper {
  background: white;
  padding: 35px 0;
  margin-top: 30px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  border-radius: 3px;
}

.form-wrapper .title {
  font-size: 20px;
  color: #65696e;
}

.form-wrapper .form {
  margin: 0 35px;
}


.form-wrapper .form .form-control {
  width: 300px;
}

.form-wrapper .form .form-control::placeholder {
  font-size: 15px;
}

.form-wrapper .form .form-control:focus {
  box-shadow: none;
  border-color: #2D89EF;
}

.form-wrapper .form .form-label {
  font-size: 15px;
  line-height: 1.1;
  color: #495057;
}

.form-wrapper .form .form-check-input:focus {
  box-shadow: none;
}

.form-wrapper .form .form-check-input:checked {
  background-color: #316CBE;
}

.form-wrapper .form .form-check-label {
  font-size: 15px;
}

.form-wrapper .form .submit-btn {
  width: 100%;
  background: #316CBE;
  transition: 0.2s all;
  font-size: 15px;
}


.form-wrapper .form .submit-btn:hover {
  background: #2b60a9;
}



.form-link {
  cursor: pointer;
}
