.container.form-wrapper {
  margin-bottom: 160px;
}

@media screen and (min-height: 660px) {

  .container.form-wrapper {
    margin-bottom: 230px;
  }

}


@media screen and (min-height: 750px) {

  .container.form-wrapper {
    margin-bottom: 330px;
  }

}

@media screen and (min-height: 850px) {

  .container.form-wrapper {
    margin-bottom: 430px;
  }

}

@media screen and (min-height: 950px) {

  .container.form-wrapper {
    margin-bottom: 530px;
  }

}


.page-title {
  display: flex;
  align-items: center;
}

.page-title .back-btn {
  background: transparent;
  border: 1px solid rgba(169, 169, 169, 0.5);
  border-radius: 4px;
  padding: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
}


.page-title .back-btn svg {
  width: 28px;
  height: 28px;
}


.form-wrapper .form-control::placeholder {
  font-size: 15px;
}

.form-wrapper .form-control:focus {
  box-shadow: none;
  border-color: #2D89EF;
}

.form-wrapper .form-label {
  font-size: 15px;
  line-height: 1.1;
  color: #495057;
}

.form-wrapper .form-check-input:focus {
  box-shadow: none;
}

.form-wrapper .form-check-input:checked {
  background-color: #316CBE;
}

.form-wrapper .form-check-label {
  font-size: 15px;
}

.submit-btn {
  background: #316CBE;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 20px;
  transition: 0.3s all;
}

.cancel-btn {
  background: transparent;
  transition: 0.2s all;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 20px;
  border: 1px solid white;
}

.cancel-btn:hover {
  background: #6e7687;
  border-color: #6e7687;
}

.form-wrapper form .submit-btn:hover {
  background: #2159a5;
}

.hint {
  color: #6e7687;
}

.card-divider {
  margin: 0 -1.5rem;
  height: 1px;
  background: whitesmoke;
}

.media-wrapper .media-empty {
  min-height: 220px;
  border: 2px dashed #727171;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  cursor: pointer;
}


.media-empty .upload-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #5C5F62;
  border-radius: 50%;
  margin-bottom: 15px;
}

.media-empty .upload-icon svg {
  fill: white;
  width: 28px;
  height: 28px;
}

.media-empty .upload-btn {
  background: white;
  font-size: 15px;
  padding: 6px 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  border: 1px solid rgba(186, 191, 195, 1);
  border-radius: 5px;
  margin-bottom: 10px;
}


.media-empty .upload-btn:hover {
  background: #F6F6F7;
}

.media-empty:hover {
  background: #F6F6F7;
}


.save-section {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: #202123;
  padding: 15px 0;
}


.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags .tag {
  padding: 4px 13px;
  margin-right: 6px;
  margin-bottom: 3px;
  background: rgba(154, 160, 172, 0.3);
  border-radius: 4px;
  transition: 0.2s background-color;
}

.tags .tag:hover {
  background: rgba(154, 160, 172, 0.5);
}

.tags .tag .delete-tag svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
}


