
nav {
  background: white;
  border-bottom: 1px solid rgba(0,40,100,.10);
  position: fixed;
  width: 100%;
  z-index: 1;
}


nav .container-nav {
  margin: 0 30px;
}


nav .brand .logo {
  width: 35px;
}

nav .notification {
  margin-right: 20px;
}


nav .notification .not-icon {
  cursor: pointer;
}

nav .notification .not-icon .icon {
  width: 20px;
  height: 20px;
}

nav .notification .notification-collapsed {
  position: absolute;
  right: 120px;
  top: 65px;
  width: 490px;
  background: white;
  border-radius: 4px;
  padding: 10px 0;
  border: 1px solid rgba(0,40,100,.12);
  display: none;
  z-index: 100;
}

nav .notification .notification-collapsed.expanded {
  display: block;
}



nav .profile .pro-pic {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

nav .profile .pro-pic .pic {
  width: 100%;
}

nav .profile .pro-info {
  margin-left: 10px;
  cursor: pointer;
}

nav .profile .pro-info span {
  display: block;
  line-height: 1.2;
}

nav .profile .pro-info .pro-info-name {
  font-size: .9375rem;
}

nav .profile .pro-info .pro-info-role {
  font-size: 13px;
  color: rgba(73, 80, 87, 0.75);
}

nav .profile-collapsable {
  position: absolute;
  top: 65px;
  right: 30px;
  width: 180px;
  background: white;
  border-radius: 3px;
  border: 1px solid rgba(0,40,100,.12);
  display: none;
  z-index: 100;
}

nav .profile-collapsable.expanded {
  display: block;
}

nav .profile-list {
  list-style: none;
  margin: 10px 0;
  padding: 0;

}


nav .profile-list .profile-list-item {
  padding: 3px 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav .profile-list .profile-list-item:hover {
  background: rgba(245, 245, 245, 0.5);
}

nav .profile-list .profile-list-item .item-icon {
  margin-left: 15px;
  margin-right: 10px;
}

nav .profile-list .profile-list-item .item-icon svg {
  width: 17px;
  height: 17px;
  fill: rgba(73, 80, 87, 0.5);}


.side-nav-wrapper {
  width: 250px;
  height: calc(100vh - 58px);
  background: white;
  position: fixed;
  top: 59px;
  overflow-y: auto;
}

.side-nav .side-list {
  list-style: none;
  padding: 0;
  margin: 15px 0 0 0;
}

.side-nav .side-list .side-list-link {
  margin-left: 30px;
  margin-right: 15px;
  padding: 10px 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.side-nav .side-list .side-list-link .item-name {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: rgba(73, 80, 87, 0.6);
  transition: 0.2s all;

}

.side-nav .side-list .side-list-link .item-icon {
  fill: rgba(73, 80, 87, 0.8);
  transition: 0.2s all;
}

.side-nav .side-list .side-list-link:hover .item-name  {
  color: rgba(73, 80, 87, 0.7);
}

.side-nav .side-list .side-list-link:hover .item-icon {
  fill: rgba(73, 80, 87, 0.9);
}


.side-nav .side-list .side-list-link.active .item-name  {
  color: #2D89EF;
}

.side-nav .side-list .side-list-link.active .item-icon svg {
  fill: #2D89EF;
}

.side-nav .side-list .side-list-link .item-expand {
  margin-left: auto;
}

.side-nav .side-list .side-list-link .item-expand .expand-icon {
  fill: rgba(73, 80, 87, 0.8);
  width: 19px;
}

.side-nav .side-list .side-list-item .sub-side-list {
  list-style: none;
  padding: 0;
  max-height: 0;
  overflow: hidden;
}

.side-nav .side-list .side-list-item.expanded .sub-side-list {
  max-height: 400px;
}


.side-nav .side-list .side-list-item .sub-side-list .sub-side-list-link {
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  color: rgba(73, 80, 87, 0.6);
  transition: 0.2s all;
  text-decoration: none;
  cursor: pointer;
  margin-left: 70px;
  padding: 7px 0;
  display: flex;
}


.side-nav .side-list .side-list-item .sub-side-list .sub-side-list-link.active,
.side-nav .side-list .side-list-item .sub-side-list .sub-side-list-link:hover {
  color: #2D89EF;
}

.content-wrapper {
  position: absolute;
  top: 60px;
  left: 250px;
  height: calc(100vh - 60px);
  width: calc(100vw - 250px);
  overflow-y: auto;
  overflow-x: hidden;

}


.content-wrapper .container {
  padding: 0 1rem;
}
