.table-header {
  padding: 13px 1.5rem;
  color: #32363A;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F3F4F5;
}

.table-header .table-title {
  font-size: 19px;
  font-weight: 500;
}


.table-header .table-header-btn {
  background: transparent;
  border: 0;
}



table {
  table-layout: fixed;
}

tr {
  border-bottom: 1px rgba(169, 169, 169, 0.2) solid;
}


th {
  padding: 7px 0;
  font-weight: 600;
  color: #575b5f;
  font-size: 15px;

}

td {
  padding: 10px 0;
}

td:first-child,
th:first-child {
  padding-left: 1.5rem;
}


td.actions-column button {
  background: transparent;
  border: 0;
  padding: 0;
}

td.actions-column .delete-btn {
  margin-right: 1.5rem;
}

td.actions-column button:focus {
  outline: 0;
}


td.actions-column button svg {
  width: 21px;
}


.table-footer {
  padding: 10px 1.5rem;
}

.table-footer .page-arrows .arrow {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0 5px;
}

.table-footer .page-arrows .arrow svg {
  width: 27px;
  height: 27px;
}

.table-footer .page-arrows .arrow.active svg{
  fill: #3f4347;
}

.table-footer .page-details {
  font-size: 17px;
}

.table-footer .page-details .current {
  color: #949499;
  margin-right: 8px;
}

